body {
  font-family: "Nunito sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: Yeseva One, serif;
}

/* header */
.header {
  background-color: black;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
}

.container {
  max-width: 1263px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

.logo {
  color: #e3b873;
}

.phone {
  width: 126px;
  height: 16px;
  color: #e3b873;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
}

.button-header {
  width: 161px;
  height: 37px;
  background: #e3b873;
  color: white;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 11px 31px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border-width: 2px;
}

.header-navigation {
  list-style: none;
  display: flex;
}

.header-navigation-item {
  margin-right: 47px;
}

.header-navigation-item a {
  text-decoration: none;
  color: white;
}

.header-navigation-item a:hover {
  color: #e3b873;
  border: none;
}

.main-section {
  background: url(../images/Group\ 7.png) 50% / cover no-repeat;
  height: 707px;
  margin: 0;
}

.main-container {
  height: 352px;
  padding: 160px 87px 199px 89px;
}

.title {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.rostov {
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #e3b873;
}

.subtitle {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 19px;
  margin-bottom: 30px;
}

.main-button1 {
  width: 207px;
  height: 51px;
  background-color: #e3b873;
  color: #ffffff;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  margin-right: 20px;
}

.main-button2 {
  width: 207px;
  height: 51px;
  color: #ffffff;
  background: none;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
}

/* main */
.main-block {
  display: inline-block;
  background-color: black;
  width: 1440px;
  color: white;
}

.block-container {
  width: 1263px;
  height: 576px;
  margin-left: 87.5px;
  margin-bottom: 50px;
  padding-bottom: 397px;
}

.links {
  text-align: center;
  padding-top: 61px;
  margin-top: 0;
}

.links li {
  display: inline-block;
  margin-right: 61px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  position: relative;
  left: 220px;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #e3b873;
  border-bottom: 1px #e3b873 solid;
  padding-bottom: 6.68px;
}

.block-text {
  background: url(../images/image\ 2.1.jpg) 511px 32px/679px 482px no-repeat;
  width: 1205px;
  height: 524px;
  margin-left: 27px;
}

.block-left {
  width: 487px;
  height: 512px;
  display: inline-block;
}

h2 {
  color: #e3b873;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
}

p {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 42px;
}

.block-mini {
  max-width: 476px;
  margin-top: 0;
  margin-bottom: 55px;
}

.block-mini-subtitle {
  display: inline-block;
  width: 49%;
  margin-bottom: 40px;
  margin-top: 0px;
}

.mini-1 {
  position: relative;
  top: 20px;
}


h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
  margin-bottom: 9px;
  margin-top: 0;
}

span {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  padding: 0 31px 12px 0px;
}

.main-block-2 {
  max-width: 1440px;
}

.block-container2 {
  width: 1263px;
  height: 1040px;
  margin-top: -327px;
  margin-right: 87px;

  margin-left: 87.5px;
}

.zag-control {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.logo-camera {
  text-align: center;
  padding-bottom: 30px;
}

.camera {
  position: relative;
  top: 12px;
}

.image-2 {
  text-align: center;
  position: relative;
  margin-bottom: 51px;
}

.logo-play img {
  position: absolute;
  z-index: 1;
  left: 560px;
  bottom: 140px;
}

.text-request {
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
  letter-spacing: 0.5px;
  font-family: "Nunito Sans", sans-serif;
  margin-top: 27px;
  margin-bottom: 90px;
}

form {
  width: 823px;
  height: 173px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 227px;
  margin-right: 213px;
}

label {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
  transform: rotate(-0.07deg);
  margin-right: 50px;
}

label input {
  letter-spacing: 0.5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  display: block;
}

button {
  cursor: pointer;
  background: #e3b873;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  width: 200px;
  height: 51px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #e3b873;
}

.checkbox-1 {
  font-size: 14px;
  line-height: 163.68%;
  letter-spacing: 0.5px;

  color: #181818;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-1+.checkbox-1 {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox+.checkbox-1::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 1px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked+.checkbox-1::before {
  border: 1px solid #e3b873;

  background: url(../images/Vector\ yes.svg) center no-repeat;
  background-color: #e3b873;
}

.block-container-3 {
  width: 1263px;
  height: 1553px;
  margin-left: 87.5px;
}

.subtitle-block-3 {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #181818;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: -10px;
}

.block-logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo-molot {
  position: relative;
  top: 12px;
  padding: 0 5px;
}

.block-left-2 {
  width: 410px;
  height: 638px;
}

.block-left-2 {
  background: url(../images/redecorating.jpg) top center no-repeat;
}

.block-left-list1 {
  background-color: white;
  width: 335px;
  height: 295px;
  margin-top: 294px;
  margin-left: 37px;
}

h4 {
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  margin-bottom: 5px;
  margin-left: 34px;
  padding-top: 25px;
}

.list-left {
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  margin-top: 0;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

.list-item {
  position: relative;
  left: -6px;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}

.info-price {
  margin-top: -48px;
  margin-left: 37px;
  width: 228px;
  height: 54px;
  background: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.text-price {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #fff;

  font-weight: 600;
  font-family: Yeseva One;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.2px;
  position: relative;
  top: 15px;
}

.block-flex {
  display: flex;
  justify-content: space-around;
}

.block-center {
  width: 410px;
  height: 638px;

  background: url(../images/Overhaul.jpg) top center no-repeat;
}

.block-center-list1 {
  background-color: white;
  width: 335px;
  height: 295px;
  margin-top: 294px;
  margin-left: 37px;
}

.list-center {
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  margin-top: 0;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

.block-right {
  width: 410px;
  height: 638px;

  background: url(../images/dis\ repair.jpg) top center no-repeat;
}

.block-right-list1 {
  background-color: white;
  width: 335px;
  height: 295px;
  margin-top: 294px;
  margin-left: 37px;
}

.list-right {
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  margin-top: 0;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

/*Part-3*/

.block-text-form {
  background: url(../images/img\ form-left.jpg) 0 50% no-repeat;
  display: flex;
  justify-content: flex-end;
  margin-top: 133px;
}

.text-form-left {
  width: 527px;
  height: 539px;
  margin: 49px 82px 24px 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.number-text {
  padding-bottom: 30px;
  margin-left: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #363636;
  display: flex;
  align-items: center;
}

.number {
  width: 42px;
  height: 42px;

  background: #e3b873;
  border-radius: 50%;
  text-align: center;
  font-family: Yeseva One;
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-right: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-form-right {
  width: 506px;
  height: 509px;
  margin: 49px 0px 24px 0px;
  display: block;
  background: #131313;
}

.form-right-text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-top: 28px;
  margin-bottom: 39px;
  letter-spacing: 0.5px;
}

.label-form-right {
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 49px;
  margin-bottom: 7px;
}

.input-form-right {
  background-color: #131313;
  margin-left: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-right: 227px;
  margin-bottom: 48px;
  color: #ffffff;
}

.input-form-right-3 {
  margin-bottom: 0;
}

.input-text-form-right {
  margin-top: 0px;
  margin-left: 48px;
}

.checkbox-3 {
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  margin-bottom: 39px;
  letter-spacing: 0.5px;
  position: relative;
  bottom: 10px;
}

.checkbox-2 {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-3+.checkbox-2 {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox-2+.checkbox-3::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 1px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox-2:checked+.checkbox-3::before {
  border: 1px solid #e3b873;

  background: url(../images/Vector\ yes\ —\ копия.svg) center no-repeat;
  background-color: #e3b873;
}

.button-form-right {
  width: 214px;
  padding-top: 5px;
  line-height: 21px;
  margin: -15px 49px 27px 244px;
}

.logo-pig {
  display: flex;
  justify-content: flex-end;
  margin-right: 170px;
  position: relative;
}

.pig-1 {
  position: relative;
  bottom: 22px;
}

.pig-2 {
  position: absolute;
  right: 264px;
  top: 7px;
  z-index: 1;
}

.pig-3 {
  position: relative;
  right: 64px;
  top: -32px;
}

.pig-4 {
  position: absolute;
  right: 271px;
  top: 20px;
}

.text-logo-pig {
  font-size: 18px;
  line-height: 26px;
  color: #e3b873;
  letter-spacing: 0.5px;
}

.main-block-4 {
  max-width: 1440px;
  max-height: 1109px;
}

.block-container-4 {
  width: 1263px;
  height: 840px;
  text-align: center;
  margin-left: 87.5px;
}

.subtitle-block-4 {
  color: #181818;
  margin-top: 40px;
  margin-bottom: 16px;
  font-weight: 600;
}

.friendly-hand-text {
  font-size: 18px;
  line-height: 29px;
  color: #363636;
  font-family: "Nunito sans", sans-serif;
  margin-bottom: 0;
}

.flex-block-4 {
  display: flex;
  justify-content: space-around;
  margin-top: 39px;
}

.block-flex-block-4 {
  background-color: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
  height: 428px;
}

.zag-flex-block-4 {
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 0;
  text-align: start;
}

.zag-block-4 {
  font-family: Yeseva One, serif;
  font-weight: 700;
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 25px;
  color: #181818;
  letter-spacing: 0.2px;
}

.photo-block-4 {
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: 20px;
}

.text-flex-block-4 {
  font-family: "Nunito sans", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  text-transform: lowercase;
  text-align: start;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

.text2-flex-block-4 {
  font-family: "Nunito sans", sans-serif;
  margin-top: 0;
  margin-left: 20px;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  text-transform: lowercase;
  text-align: start;
  letter-spacing: 0.5px;
  margin-bottom: 47px;
}

.text-price-line1 {
  margin-left: -60px;
}

.text-price-line2 {
  display: inline-block;
  padding: 15px 35.05px 15px 28.05px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
}

.form5 {
  display: flex;
  justify-content: center;
}

.form-block-5 {
  width: 883px;
  height: 445px;
  background-color: #131313;
  display: inline-block;
  margin-top: -222.5px;
}

.form-block5-text {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: Yeseva One;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.label-form-block5 {
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin-right: 58px;
}

.input-form-block5 {
  background-color: #131313;

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  padding-right: 60px;
  padding-bottom: 6px;
  color: #fff;
}

.name-block5 {
  margin-left: 181.5px;
}

.email-block5 {
  margin-left: 181.5px;
  margin-top: 48px;
}

.email-input-block5 {
  padding-right: 357px;
}

.checkbox-4 {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-5+.checkbox-4 {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox-4+.checkbox-5::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 1px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox-4:checked+.checkbox-5::before {
  border: 1px solid #e3b873;

  background: url(../images/Vector\ yes\ —\ копия.svg) center no-repeat;
  background-color: #e3b873;
}

.input-text-block5 {
  margin-top: 45px;
  margin-left: 298px;
  margin-bottom: 0;
}

.label-text-block5 {
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  font-family: "Nunito sans", sans-serif;
}

.button-form-block5 {
  margin: 40px 0px 0px 341px;
  height: 51px;
  width: 200px;
  font-size: 13px;
  line-height: 27px;
  box-shadow: none;
}

.main-block-5 {
  margin-top: 150px;
  width: 1440px;
  height: 951px;
  background: url(../images/photo\ block5.jpg) 100% 100% no-repeat;
  position: relative;
}

.container-dark {
  position: relative;
  z-index: 1;
}

.dark {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.text-block-5 {
  font-family: Yeseva One;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
  margin-top: 52px;
  margin-bottom: 26px;
}

.logo-application {
  text-align: center;
}

.map {
  text-align: center;
  margin-top: 35px;
  z-index: 1;
}

/* footer */
.footer {
  background-color: black;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
}

.container {
  max-width: 1263px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

.logo {
  color: #e3b873;
}

.phone {
  width: 126px;
  height: 16px;
  color: #e3b873;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  padding: 0;
}

.button-footer {
  width: 161px;
  height: 37px;
  background: #e3b873;
  color: white;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 11px 31px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
}

.footer-navigation {
  list-style: none;
  display: flex;
}

.footer-navigation-item {
  margin-right: 47px;
}

.footer-navigation-item a {
  text-decoration: none;
  color: white;
}

.footer-navigation-item a:hover {
  color: #e3b873;
  border: none;
}

/* mobile version */
@media (max-width: 768px) {

  .button-header,
  .header-navigation {
    display: none;
  }

  .header-content {
    justify-content: space-between;
    height: 57px;
    padding: 0 18px;
    background-color: #181818;
  }

  .phone {
    color: white;
  }

  .main-section {
    height: 476px;
    max-width: 375px;
  }

  .main-container {
    max-width: 375px;
    height: 352px;
    padding: 85px 18px 61px 18px;
  }

  .title {
    font-size: 23px;
    line-height: 132.83%;
  }

  .rostov {
    font-size: 23px;
    line-height: 132.83%;
  }

  .subtitle {
    text-align: left;
    font-size: 14px;
    line-height: 135.84%;
  }

  .main-button1 {
    width: 338px;
    height: 51px;
    margin-bottom: 26px;
    margin-right: 0px;
  }

  .main-button2 {
    width: 338px;
    height: 51px;
  }

  .links {
    display: none;
  }

  .main-block,
  .main-block-2,
  .block-container,
  .block-container2,
  .block-text,
  .block-left {
    max-width: 375px;
    margin-left: 0;
    background-color: #181818;
  }

  .block-left h2 {
    text-align: center;
    margin-top: 35px;
  }

  .subtitle {
    text-align: left;
    font-size: 14px;
    line-height: 135.84%;
  }

  .block-left-text {
    font-size: 11px;
    line-height: 158.48%;
    text-align: center;
  }

  .mobile-photo2 {
    max-width: 340px;
    min-height: 241px;
    margin: 70px 17px 35px 17px;
    background-image: url(../images/ellipse\ left.svg),
      url(../images/ellipse\ right.svg), url(../images/mobile\ photo.jpg);
    background-repeat: no-repeat;
    background-position: 14px 50%, 288px 50%, 50%;
  }

  .block-mini {
    margin-left: 17px;
  }

  .block-mini-subtitle h3 {
    font-size: 14px;
    line-height: 138.6%;
  }

  .block-mini-subtitle span {
    font-size: 11px;
    line-height: 135.84%;
  }

  .swit {
    display: none;
  }

  .block-container2 {
    max-width: 375px;
    max-height: 828px;
    margin: 0 auto;
    background-color: #181818;
  }

  .block-container {
    padding-bottom: 100px;
  }

  .image-2 img {
    width: 340px;
    height: 207px;
  }

  .image-2 {
    margin-bottom: 30px;
  }

  .text-request {
    width: 340px;
    font-size: 11px;
    line-height: 169.8%;
    color: #fff;
    margin: 20px 18px 60px 18px;
  }

  .text-request br {
    display: none;
  }

  .logo-play img {
    display: none;
  }

  .block-container2-form {
    width: 340px;
    display: block;
    margin: 0 18px 0px 18px;
    position: relative;
  }

  .block-container2-form label {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21.28px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
  }

  .block-container2-form label input {
    font-size: 14px;
    line-height: 138.72%;
    color: rgba(255, 255, 255, 1);
    background-color: #181818;
    width: 340px;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    margin-bottom: 60px;
  }

  .block-container2-form button {
    width: 340px;
    position: absolute;
    bottom: -145px;
    font-family: "Nunito sans", sans-serif;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block-container2-form p {
    margin-top: -60px;
    text-align: left;
  }

  .block-container2-form p label {
    color: #fff;
    font-size: 14px;
    margin-bottom: 60px;
  }

  .block-container-3 {
    max-width: 375px;
    margin-top: 85px;
    margin-left: 0px;
  }

  .subtitle-block-3 {
    font-size: 22px;
    line-height: 138.6%;
  }

  .block-flex {
    flex-direction: column;
    margin-left: 18px;
  }

  .block-left-2 {
    width: 340px;
    height: 580px;
    background: url(../images/redecorating\ 2.jpg) no-repeat;
  }

  .block-left-list1 {
    width: 270px;
    height: 241px;
    margin-left: 0px;
    margin-top: 224px;
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.05);

  }

  .block-left-list1 h4 {
    padding-top: 20px;
  }

  .list-left {
    line-height: 22.07px;
  }

  .list-item {
    line-height: 22.07px;
    padding: 0px;
  }

  .info-price {
    margin-top: -20px;
    margin-left: 0px;
    width: 190px;
    height: 40px;
  }

  .text-price {
    margin-top: 0px;
    font-size: 15px;
    line-height: 20.79px;
    top: 10px;
  }


  .block-center {
    width: 340px;
    height: 580px;
    background: url(../images/overhaul\ 2.jpg) no-repeat;
  }

  .block-center-list1 {
    width: 270px;
    height: 241px;
    margin-left: 0px;
    margin-top: 224px;
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.05);

  }

  .block-center-list1 h4 {
    padding-top: 20px;
  }

  .list-center {
    line-height: 22.07px;
  }

  .block-right {
    width: 340px;
    height: 580px;
    background: url(../images/disagner\ repair\ 2.jpg) no-repeat;
  }

  .block-right-list1 {
    width: 270px;
    height: 241px;
    margin-left: 0px;
    margin-top: 224px;
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.05);

  }

  .block-right-list1 h4 {
    padding-top: 20px;
  }

  .list-right {
    line-height: 22.07px;
  }

  .block-text-form,
  .text-form-left,
  .text-form-right,
  .logo-pig,
  .main-block-4,
  .footer {
    display: none;
  }

  .mobile-block4 {
    margin-top: 233px;
    text-align: center;

  }

  .mobile-h3 {
    margin-bottom: 20px;
  }

  .mobile2-h3 {
    font-weight: bold;
  }

  .mobile-time {
    position: relative;
    z-index: 2;
    width: 340px;
    height: 242px;
    background-image: url(../images/ellipse\ left.svg), url(../images/ellipse\ right.svg), url(../images/time\ mobile.jpg);
    background-repeat: no-repeat;
    background-position: 14px 50%, 288px 50%, 50%;
    margin-left: 18px;

  }

  .main-block-5 {
    max-width: 375px;
    max-height: 875px;
  }

  .form-block-5,
  .form5 {
    max-width: 375px;
    display: block;
    padding-top: 122px;

  }

  .form-block-5 {
    margin-top: -391.5px;
    margin-left: 0px;
  }

  .name-block5,
  .phone-block5,
  .email-block5 {
    margin-left: 18px;
    margin-bottom: 60px;
  }

  .input-form-block5 {
    width: 340px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .form-block-5:nth-child(4) {
    margin-bottom: 0px;
  }

  .email-block5 {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .input-text-block5 {
    margin-top: 0px;
    margin-left: 18px;
    margin-bottom: 0px;
    text-align: left;
  }

  .button-form-block5 {
    margin: 55px 17px 30px 18px;
    height: 51px;
    width: 340px;
    font-size: 13px;
    line-height: 27px;
    box-shadow: none;
  }

  .dark {
    background-color: #131313;
  }

  .map img {
    width: 340px;
    height: 255px;
    background: url(../images/map\ mobile.jpg)0 0/340px 255px;
    order: 1;
  }

  .block5-flex {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
  }

  .text-block-5 {
    order: 2;
    margin-top: 40px;
  }

  .logo-application {
    order: 3;
  }

  .label-form-block5 {
    margin-right: 0px;
  }
}

@media (min-width: 768px) {
  .mobile-block4 {
    display: none;
  }
}